{% extends "base.html" %}
{% block content %}

<link href="../static/css/homePage.css" rel="stylesheet"/>

<h2 class="sweet-title">
<br> 
<span data-text="Sweet">Welcome to MadCourseEvaluator!</span>
<br> 
</h2>

<div class="intro">
    <p>
        <br>Welcome to MadCourseEvaluator where you can get it all! As a student or guest, MadCourseEvaluator offers you a chance
        <br>to browse through UW-Madison course information, search for grade distribution to specific courses and
        <br>search Professors and learn about their grade distributions and average GPA.
    </p>
</div>

<h2 class = "sweet-title">
    <br> 
    <span data-text="Sweet">Why use MadCourseEvaluator??</span>
    <br> 
</h2>

<p>
    <br> MadCourseEvaluator offers students a chance to view professor ratings and course information on one location.
    <br>It is a combination of MadGrades and RateMyProfessor without having to go to a different website
    <br>to add class/professor ratings or add comments about a class you might have already taken.  
    <br><br><br>
</p>


<div class="parentDiv"> 
    <img src="../static/images/BuckyBadger.gif",align="center">
</div>        


<h2 class = "sweet-title">
    <br> 
    <span data-text="Sweet">About us!</span>
<h2>

<p>
    <br> MadCourseEvaluator was created in 2022 by a group of 6 UW-Madison students as part of a final project for
    <br> Comp Sci 506: Software Engineering Course. Originally meant as college-level project to acquire
    <br> skills in Scrum and Agile, this app is intended to help students search course information and 
    <br> 
</p>

<table>
    <tr>
            <td>
                <img src="../static/images/SourabhPhoto.jpg" class="center">
                <h1> Sourabh Kenjale - Database Administrator (kenjale@wisc.edu)</h1>
            </td>

            <td>
                <img src="../static/images/AnshulPhoto.jpg" class="center">
                <h1> Anshul Yadav - Backend Developer (ayadav8@wisc.edu)</h1>
            </td>

            <td>
                <img src="../static/images/FinnPhoto.jpg" class="center">
                <h1> Finnegan Hourigan - Frontend Developer (fhourigan@wisc.edu)</h1>
            </td>

            <td>
                <img src="../static/images/Ming Photo.jpg" class="center">
                <h1> Mingqi Xu - Backend Developer (mxu278@wisc.edu)</h1>
            </td>

            <td>
                <img src="../static/images/JimPhoto.jpg" class="center">
                <h1> Jim Lizzio - Backend Developer (jlizzio@wisc.edu)</h1>
            </td>

            <td>
                <img src="../static/images/JesusPhoto.jpg" class="center">
                <h1> Jesus Vazquez - Frontend Developer (jwvazquez@wisc.edu)</h1>
            </td>
    </tr>
</table>



{% endblock %}